/*
 * Fonts declarations
 */
@font-face {
	font-family: 'FontAwesome';
	src: font-url('fontAwesome/fontawesome-webfont.eot?v=4.3.0');
	src: font-url('fontAwesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
       font-url('fontAwesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
       font-url('fontAwesome/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
       font-url('fontAwesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
       font-url('fontAwesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
